<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="modal" style="display: block">
  <form class="modal-content animate" [formGroup]="formdata" (ngSubmit)="on_submit(formdata.value)">

    <div class="container">
      
        <label for="name"><b>Name</b></label><span style="color: red">*</span>
        <input id="name" type="text" placeholder="Enter Name" name="name" formControlName="name">
        
        <div *ngIf=" name.errors?.required && ( !name.pristine || submitted)" class="alert alert-danger">Name is required.</div>

        <!-- username is a readonly property so it can't be changed-->
        <label for="username"><b>Username</b></label><span style="color: red">*</span>
        <input type="text" placeholder="Enter Username" name="Username" formControlName="username" readonly>

        <label for="age"><b>Age</b></label><span style="color: red">*</span>
        <input type="text" placeholder="Enter Age" name="age" formControlName="age">
        <div *ngIf=" age.errors?.required && ( !age.pristine || submitted)" class="alert alert-danger">Age is required.</div>
        <div *ngIf="age.errors?.agevalidator" class="alert alert-danger">Age must be greater than 18</div>

        <label for="password"><b>Password</b></label><span style="color: red">*</span>
        <input type="password" placeholder="Enter Password" name="password" formControlName="password">
        <div *ngIf=" password.errors?.required && ( !password.pristine || submitted)" class="alert alert-danger">Password is required.</div>
        <!--confirm password still remaining-->
        <!--<div *ngIf="confirmpassword.errors?.confirmingpassword"  class="alert alert-danger">Password does not match.</div>-->
        
      <button type="submit">Save Changes</button> <!-- [disabled]="formdata.invalid"-->
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn" (click)="onLogOutClick()">Log Out</button>      
    </div>
  </form>
</div>